* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #ECEEF1;
  background: linear-gradient(to top left, #cc95c0, #dbd4b4, #7aa1d2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

form {
  background: rgba(256, 256, 256, 0.4);
  color: #666;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

/*h2 {
  padding-bottom: 50px;
  text-align: center;
}

.input-wrap {
  width: 100%;
  position: relative;
}

label {
  padding: 15px;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 5px auto 15px;
  padding: 15px;
  border: #666 solid 1px;
  border-radius: 20px;
  outline: none;
  background: rgba(256,256,256,0.8);
}
input:focus {
  border: #3498db solid 1px;
  background: rgba(256,256,256,1);
}

.clear {
  position: absolute;
  top: 24px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  display: none;
}
.clear:hover {
  font-weight: bold;
}

input[type="submit"] {
  font-size: 16px;
  margin-top: 50px;
  cursor: pointer;
  color: #666;
  background: white;
  transition: color 0.4s, background 0.4s;
  line-height: 0px;
}
input[type="submit"]:hover {
  background: #666;
  color: white;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
